{% extends "base.html" %}

{% block title %}Cash On Hand{% endblock %}

{% block content %}
您的位置：库存现金收支明细表 <a href="{% url 'cash:add'%}">添加</a>
{% if cash_list %}
<table class="table table-striped">
    <thead>
    <tr>
        <th width="100px">业务日期</th>
        <th width="60px">序号</th>
        <th>摘要</th>
        <th width="80px">收入</th>
        <th width="80px">支出</th>
        <th width="80px">余额</th>
        <th width="160px">对方科目</th>
        <th width="80px">业务员</th>
        <th width="100px">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for cash in cash_list %}
    <tr>
        <td>{{ cash.operation_date|date:"Y-n-j" }}</td>
        <td><a href="{% url 'cash:detail' cash.id %}">{{ cash.serial_number }}</a></td>
        <td><a href="{{ cash.get_absolute_url }}">{{ cash.summary }}</a></td>
        <td>{% if cash.opposite_account.debit_balance == False %}{{ cash.lucre }}{% endif %}</td>
        <td>{% if cash.opposite_account.debit_balance == True %}{{ cash.lucre }}{% endif %}</td>
        <td>{{ cash.balance }}</td>
        <td>{{ cash.opposite_account.accounting_subject }}</td>
        <td></td>
        <td><a href="{% url 'cash:edit' cash.id %}">修改</a><a href="{% url 'cash:delete' cash.id %}">删除</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No cash are available.</p>
{% endif %}
{% endblock %}


